<div data-column='pairs1' data-for-device='[% device.ip %]' data-for-port='[% row.port %]' class='york-port-info' [% IF user_can_port_control AND params.c_admin %] contenteditable='true'[% END %]>[% row.port_info.pairs1 %]</div>
